.container__header {
  display: flex;
  flex-direction: row;
}

.box__wraper {
  position: relative;
  /* width: 480px; */
}

.img__header {
  width: 480px;
  height: 480px;
}

.text__inside-img {
  position: absolute;
  bottom: 48px;
  left: 64px;

  color: white;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2.56px;
}

@media (max-width: 1440px) {
  .img__header {
    width: 360px;
    height: 360px;
  }

  .text__inside-img {
    bottom: 34px;
    left: 51px;
    font-size: 24px;
  }

}

@media (max-width: 767px) {

  .text__inside-img {
  left: 48px;
  }


.img__header {
  width: 100%;
  height: 100%;
}

  .container__header {
  flex-direction: column;
}
}